@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/dist/Fredoka-Bold.woff2') format('woff2'),
        url('../fonts/dist/Fredoka-Bold.woff') format('woff'),
        url('../fonts/Fredoka-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Fredoka';
    src: url('../fonts/dist/Fredoka-Regular.woff2') format('woff2'),
        url('../fonts/dist/Fredoka-Regular.woff') format('woff'),
        url('../fonts/Fredoka-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}







* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}


html,
body {
    height: 100%;
    width: 100%;
    font-style: normal;
    background-color: $main-bg;
    color:$main-text;
    @include main-font("Fredoka", 20px, $main-text, 400)
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

.wrapper {
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
canvas{
    // width: 80%;
    // height: 80vh;
    background-color: $second-bg;
    display: block;

}