<div>
    <div class="accordionItem">
      <h2 class="accordionTitle">Tab 1</h2>
      <div class="accordionContent">
        <p>Information here</p>
      </div>
    </div>

    <div class="accordionItem">
      <h2 class="accordionTitle">Tab 2</h2>
      <div class="accordionContent">
        <p>Information here</p>
      </div>
    </div>

    <div class="accordionItem">
      <h2 class="accordionTitle">Tab 3</h2>
      <div class="accordionContent">
        <p>Information here</p>
      </div>
    </div>
  </div>