<article class="elem-product">
    <!-- <div class="block-photo"> -->
        <picture class="block-photo">
            <source srcset="./img-dist/product.avif" type="image/avif">
            <source srcset="./img-dist/product.webp" type="image/webp">
            <source srcset="./img-dist/product.png" type="image/png">
            <img src="./img-dist/product.png" alt="Product">
        </picture>
    <!-- </div> -->
    <div class="info-product">
        <h2 class="name-product">Name Product</h2>
        <p class="about-product">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
        <span class="price-product"> 100$</span>
    </div>
    
</article>