<footer>
    <div class="container footer-container">
        <div class="info-company">
            <img src="#" alt="Logo">
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</p>
            <div class="social">
                <a class="link-footer" href="#">
                    <img src="#" alt="social">
                </a>
                <a class="link-footer" href="#">
                    <img src="#" alt="social" >
                </a>
                <a class="link-footer" href="#">
                    <img src="#" alt="social">
                </a>
            </div>
        </div>

        <div class="company">
            <h3>Header</h3>

            <ul>
                <li class="add">
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
            </ul>
        </div>

        <div class="support">
            <h3>Header</h3>
            <ul>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                
            </ul>
        </div>

        <div class="contact-us">
            <h3>Header</h3>
            <ul>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                <li>
                    <a class="link-footer" href="#">text</a>
                </li>
                
            </ul>
        </div>
    </div>
</footer>