<nav class="navigation-section">

    <div class="hamburger" id="menu">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <div class="navigation-container container menu" id="container-navigation">
        <ul class="navigation-list">
            <li class="navigation-list__item"><a href="#" class="navigation-list__item--link">Home</a></li>
            <li class="navigation-list__item"><a href="#" class="navigation-list__item--link">About</a></li>
            <li class="navigation-list__item"><a href="#" class="navigation-list__item--link">Product</a></li>
        </ul>

        <ul class="navigation-user">
            <li class="navigation-list__item"><a href="#" class="navigation-list__link"><img src="./img-dist/sprite.svg#user" alt="User" class="navigation-list__link--img"></a></li>
            <li class="navigation-list__item"><a href="#" class="navigation-list__item--link">Sing out</a></li>
        </ul>
    </div>
</nav>



